<!DOCTYPE html>
<html>
    <head>
        <title>Show Application Name</title>
    </head>
    <body>
        <h1>@AppState["AppName"]</h1>
    </body>
</html>


@{

    if(IsPost)
    {
        WebMail.Send("hejunchen@gmail.com", "test", "Test Email Body");
    }    

}


@*<form method="post">
    <input type="submit" name="submitEmail" value="Send Email">
</form>*@
