@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Welcome to Movie site";
}

<p><a href="~/Movies/Movies">Go to movie listing</a></p>
<p><a href="~/MyFolder/Default">Go to my folder</a></p>

<p>This is some opening paragraph text.</p>
@MyHelpers.MakeNote("My test note content is here.")

