<!--
This page demonstrates how to use WebImage object to create a customized Security Question
to replace reCaptcha. The reCaptcha tool is useful but sometimes it may just add too much complexity to the user.
-->

@{

    //define the image background
    string imageByteString = @"iVBORw0KGgoAAAANSUhEUgAAAWQAAABECAIAAAA5otj1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEESURBVHhe7dnBDQIxDADBC/33bI5TfgiyBcy8nAZWlrNm5gI4Egvg6A7Fa48Af4kFkIgFkIgFkHx+Q9Za+/Vw8gS+s2CzABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxABKxAJqZ2RPAD3cobBZAIhZAIhZAIhZAshw4gbPregNtGBttatKaXQAAAABJRU5ErkJggg==";

    byte[] imageBytes = Convert.FromBase64String(imageByteString);

    WebImage background = new WebImage(imageBytes);
    //WebImage background = new WebImage(@"~\Images\Untitled.png");
    
    Random rnd = new Random();
    string math = string.Format("({0} x {1}) + {2} = ?", 
                                rnd.Next(1, 9), rnd.Next(1, 9), rnd.Next(1, 9));

    background.AddTextWatermark(math, 
                                    fontColor: "black", 
                                    fontFamily: "Arial", 
                                    fontSize: 40, 
                                    horizontalAlign: "center", 
                                    verticalAlign: "middle");

    string strImage = Convert.ToBase64String(background.GetBytes());

}
 
<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <p>
            <img src="data:image/png;base64,@strImage" alt="image with watermark" height="50" />
        </p>
    </body>
</html>