@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Show Charts</title>
    </head>
    <body>
        <br/>
        <div id="divCharts">
            <img id="imgChartArrayBasic" src="ChartArrayBasic.cshtml" alt="ChartArrayBasic" />
            <br/>
            <img id="imgChartDataQuery" src="ChartDataQuery.cshtml" alt="ChartDataQuery" />
            <br/>
            <img id="imgChartDataXML" src="ChartDataXML.cshtml" alt="ChartDataXML" />
            <br/>
            <img id="imgChartStyleGreen" src="ChartStyleGreen.cshtml" alt="ChartStyleGreen" />
            <br/>
        </div>
    </body>
</html>
